
nav ul {
    display: flex;
    list-style: none;
    padding-left: 27px;
    color: #ffffff;
}

.main_nav {
    display: flex;
    align-items: center;
    margin: 12px 40px;
}

.logo {
    height: 24.86px ;
    width: 92px;
    margin: 7px 18px 36px;
}

.home {
    font-weight: bold; 
    margin-right: 19px;
}

.tv_shows {
    margin-right: 16px;
}

.movies {
    margin-right: 19px;
}

.recently_added {
    margin-right: 16px;
}

.my_list {
    width: 154px;
    height: 41px;
    margin: 1px 0;
}


        
         